.edit-combo {
    width: 100%;
    & .body {
        margin: 0 10px;
        & .panel {
            margin: 10px 0;
            
        }
    }
}

.error {
    color: red;
    margin: 0;
    padding: 0;
}