.detail-combo {
    width: 100%;
    & .body {
        margin: 0 10px;
        & .panel {
            padding: 5px 0;            
        }
    }
    
}

.ant-form-explain {
    font-size: .9em !important;
    white-space: nowrap;
}