.detail-combo {
    width: 100%;
    & .body {
        margin: 0 10px;
        & .panel {
            padding: 5px 0;
            
        }

        & .description {
            word-break: break-word;
        }
    }
}